<!-- SECCIÓN: COMPROMISO (Estadísticas) -->
  <section class="compromiso-section position-relative py-5 text-white" style="background-color: var(--etrusca-navy-900);">
  <app-scroll-wave position="top" fillColor="var(--etrusca-navy-900)"></app-scroll-wave>
 

    <div class="container text-center position-relative z-2" style="padding-top: 60px; padding-bottom: 60px;">
      <h2 class="fw-bold mb-2 text-uppercase" style="letter-spacing: 1px;">NUESTRO COMPROMISO</h2>
        <img src="/assets/images/separador.png" alt="Línea decorativa" class="mb-5 img-fluid separator-img d-block mx-auto">

      
      <p class="mb-5 fs-5 mx-auto" style="max-width: 800px; color: #d1d8e0;">
        Creamos experiencias, impulsamos talentos y construimos un legado que se refleja en nuestros resultados.
      </p>
      
      <div class="row g-4 mt-2">
        <div class="col-6 col-md-3">
          <h3 class="display-4 fw-black mb-2" style="color: #00d2d3;">
            <span #counter data-target="26">0</span>
          </h3>
          <p class="fs-6 px-md-3" style="color: #a4b0be;">Sucursales y<br>distribuidores en el país</p>
        </div>
        <div class="col-6 col-md-3">
          <h3 class="display-4 fw-black mb-2" style="color: #ffa502;">
            <span #counter data-prefix="+" data-target="30">+0</span>
          </h3>
          <p class="fs-6 px-md-3" style="color: #a4b0be;">Años de<br>experiencia</p>
        </div>
        <div class="col-6 col-md-3">
          <h3 class="display-4 fw-black mb-2" style="color: #badc58;">
            <span #counter data-prefix="+" data-target="60000">+0</span>
          </h3>
          <p class="fs-6 px-md-3" style="color: #a4b0be;">Historias de<br>aprendizajes</p>
        </div>
        <div class="col-6 col-md-3">
          <h3 class="display-4 fw-black mb-2" style="color: #ffb8b8;">
            <span #counter data-prefix="+" data-target="50000">+0</span>
          </h3>
          <p class="fs-6 px-md-3" style="color: #a4b0be;">Amantes del café<br>atendidos</p>
        </div>
      </div>
    </div>

    <!--<div class="custom-shape-divider-bottom-compromiso">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,60 C200,100 200,20 400,60 C600,100 600,20 800,60 C1000,100 1000,20 1200,60 L1200,120 L0,120 Z" class="shape-fill"></path>
      </svg>
    </div>-->
    <app-scroll-wave position="bottom" fillColor="var(--etrusca-navy-900)"></app-scroll-wave>
  </section>