<article class="legal-page course-policies">
    <div class="container">
        <header class="legal-page__header">
            <h1>Políticas externas</h1>
            <p class="legal-page__kicker">Cursos/Talleres Etrusca 2026</p>
        </header>
        <div class="row">

            <!-- I -->
            <div class="col-md-12">
                <h3 class="poppins_bold m-t-4">
                    I. <strong>Café Etrusca</strong> facilitará para cada curso / taller: <!--[cite: 2] -->
                </h3>
                <ul class="browser-default">
                    <li>Equipos y accesorios adecuados para las prácticas. <!--[cite: 2] --></li>
                    <li>Cuaderno de trabajo. <!--[cite: 2] --></li>
                    <li>Mandil. <!--[cite: 2] --></li>
                    <li>Diploma de participación digital (excepto Sesiones y Experiencias). <!--[cite: 2] --></li>
                    <li>Coffee break. <!--[cite: 2] --></li>
                </ul>
            </div>

            <!-- II -->
            <div class="col-md-12">
                <h3 class="poppins_bold m-t-4">
                    II. Recomendaciones para los participantes que asisten a un curso/taller: <!--[cite: 2] -->
                </h3>
                <ul class="browser-default">
                    <li>Acudir con ropa y calzado cómodo. <!--[cite: 2] --></li>
                    <li>No se podrá ingresar con bicicletas o con mascotas. <!--[cite: 2] --></li>
                    <li>Sólo se dará acceso al curso a la persona inscrita. <!--[cite: 2] --></li>
                    <li>No se podrá tomar el curso/taller de manera parcial, es decir, diferentes personas bajo un mismo pago. <!--[cite: 2] --></li>
                    <li>Si la persona inscrita no puede asistir al curso/taller, podrá nombrar a alguna otra persona para que asista en su lugar, avisando previamente a su agente de ventas. <!--[cite: 2] --></li>
                    <li>Solo se podrá permitir el ingreso al área de cursos a la persona que esté inscrita al curso/taller. <!--[cite: 2] --></li>
                    <li>El diploma de participación se emite sólo a la persona que haya tomado el curso/taller. <!--[cite: 2] --></li>
                    <li>El diploma que se emite es de participación, no acredita ni avala al participante para impartir cursos por cuenta propia y/o a nombre de Café Etrusca. <!--[cite: 2] --></li>
                    <li>Se considera una hora libre para que los participantes tomen sus alimentos. <!--[cite: 2] --></li>
                    <li>Excepto los talleres que terminan antes de las tres de la tarde: (Bubble básico, Bubble especializado y Mixología). <!--[cite: 2] --></li>
                </ul>
            </div>

            <!-- III -->
            <div class="col-md-12">
                <h3 class="poppins_bold m-t-4">III. Responsabilidades: <!--[cite: 2] --></h3>
                <p class="p-2">
                    <strong>Café Etrusca</strong> se deslinda de toda responsabilidad en el conocimiento de que: <!--[cite: 2] -->
                </p>
                <ul class="browser-default">
                    <li>El participante reconoce que se usan equipos que despachan agua caliente o manejan altas velocidades, por lo que deberán acatar en todo momento las indicaciones y seguir las medidas de seguridad que se indiquen. <!--[cite: 2] --></li>
                    <li>Mantenerse hidratados durante el curso. <!--[cite: 2] --></li>
                    <li>Avisar sobre alergias, intolerancias o reacciones a determinados productos: Semillas, leche, especias, café, etc. <!--[cite: 2] --></li>
                    <li><strong>Se exhorta a los participantes a declarar previo al curso sobre cualquier padecimiento que se deba de considerar</strong> como: Hipertensión, diabetes, enfermedades físicas o mentales que pudieran poner en riesgo al mismo participante, al resto del grupo o a los instructores. <!--[cite: 2] --></li>
                </ul>
            </div>

            <!-- IV -->
            <div class="col-md-12">
                <h3 class="poppins_bold m-t-4">IV. Inasistencia <!--[cite: 2] --></h3>
                <ul class="browser-default">
                    <li>En caso de no contar con un aviso por parte del cliente sobre su inasistencia y el curso haya iniciado, el cliente acepta que no podrá solicitar reembolso o cambio de fecha del curso/taller. <!--[cite: 2] --></li>
                    <li>Si el participante no puede asistir en la fecha programada para su curso/taller, deberá avisar a su agente de ventas con al menos 4 días de anticipación, indicando la próxima fecha en la que podrá asistir. <!--[cite: 2] --></li>
                </ul>
                <p class="p-2">
                    <strong>*Nota:</strong> El curso / taller / experiencia deberá tomarse sobre el ejercicio fiscal en curso. <!--[cite: 2] -->
                </p>
            </div>

            <!-- V -->
            <div class="col-md-12">
                <h3 class="poppins_bold m-t-4">V. Llegada tardía <!--[cite: 2] --></h3>
                <ul class="browser-default">
                    <li>Los participantes deberán contactar a su agente de ventas para avisar del incidente así como el tiempo estimado de llegada. <!--[cite: 2] --></li>
                    <li>Los cursos/talleres podrán dar inicio con la parte teórica máximo 10 minutos después de la hora establecida, dando margen para que se integren todos los participantes. <!--[cite: 2] --></li>
                    <li>Una vez iniciada la parte teórica, los participantes podrán incorporarse al curso / taller en el entendido de que habrá información o temas que ya se hayan visto previos a su ingreso. <!--[cite: 2] --></li>
                    <li>Sin embargo, una vez iniciada la parte práctica, los participantes ya no podrán ingresar al curso. <!--[cite: 2] --></li>
                    <li>Deberán revisar con su agente de ventas las siguientes fechas disponibles. <!--[cite: 2] --></li>
                </ul>
            </div>

            <!-- VI -->
            <div class="col-md-12">
                <h3 class="poppins_bold m-t-4">VI. Desarrollo del curso <!--[cite: 2] --></h3>
                <ul class="browser-default">
                    <li>Para todos los cursos y talleres se cuenta con un programa en donde se deberán cubrir todos los temas asegurando el aprendizaje de los participantes; sin embargo puede haber ajustes en su estructura de acuerdo al número de participantes, horarios especiales en sucursal, etc. <!--[cite: 2] --></li>
                </ul>
            </div>

            <!-- VII -->
            <div class="col-md-12">
                <h3 class="poppins_bold m-t-4">VII. Participantes foráneos: <!--[cite: 2] --></h3>
                <ul class="browser-default">
                    <li>Se pide <b>NO</b> realizar reservaciones o compra de boletos de avión, autobús, hotel, etc. hasta que se confirme la impartición del curso. <!--[cite: 2] --></li>
                    <li>Café Etrusca no se hace responsable sobre gastos generados por cambios o cancelación de reservas de hotel, boletos de avión, autobús o de cualquier otra índole. <!--[cite: 2] --></li>
                </ul>
            </div>

            <!-- VIII -->
            <div class="col-md-12">
                <h3 class="poppins_bold m-t-4">VIII. Confirmación / Cancelación cursos, talleres y experiencias <!--[cite: 2] --></h3>
                <ul class="browser-default">
                    <li>Cada curso / taller / experiencia y de acuerdo a su sede requiere de una participación mínima para que se confirme su impartición. <!--[cite: 2] --></li>
                    <li>5 días hábiles previos a su programación, los agentes de ventas enviarán un correo avisando sobre su confirmación o cancelación de acuerdo a la inscripción que se tenga. <!--[cite: 2] --></li>
                </ul>
            </div>

            <!-- IX -->
            <div class="col-md-12">
                <h3 class="poppins_bold m-t-4">IX. Edad de inscripción: <!--[cite: 2] --></h3>
                <ul class="browser-default">
                    <li>La inscripción para todo curso y taller está abierta para mayores de 18 años. <!--[cite: 2] --></li>
                    <li>Se podrán inscribir menores de edad (15 a 17 años), siempre y cuando alguno de sus padres o tutores estén inscritos en el mismo curso/taller, esto con la finalidad de acompañar, supervisar y asumir toda responsabilidad sobre el menor, deslindado a Café Etrusca sobre cualquier eventualidad o incidencia con el menor. <!--[cite: 2] --></li>
                </ul>

                <p><strong>Documentación requerida:</strong> <!--[cite: 2] --></p>
                <ul class="browser-default">
                    <li>
                        Original de carta responsiva redactada de puño y letra por alguno de sus padres o tutores, dirigida a Café Etrusca en donde se incluya: <!--[cite: 2] -->
                        <ul>
                            <li>Nombre y edad del menor. <!--[cite: 2] --></li>
                            <li>Lugar y fecha del curso/taller. <!--[cite: 2] --></li>
                            <li>Mencionar que tienen el conocimiento sobre los posibles riesgos que existen al trabajar con equipos que manejan altas temperaturas, vapor, altas velocidades, cuchillas, efectos de la cafeína en el organismo, etc. y que deciden por cuenta propia y bajo propio riesgo tomar el curso/taller, deslindando a Café Etrusca sobre cualquier eventualidad o incidencia con el menor. <!--[cite: 2] --></li>
                            <li>Nombre y firma de los padres o tutores. <!--[cite: 2] --></li>
                        </ul>
                    </li>
                    <li>Original y copia de la identificación oficial del padre o tutor que redacta y firma la carta. <!--[cite: 2] --></li>
                </ul>
            </div>

            <!-- X -->
            <div class="col-md-12">
                <h3 class="poppins_bold m-t-4">X. Modalidad de cursos y talleres <!--[cite: 2] --></h3>
                <p>Los cursos y talleres se podrán llevar a cabo de forma: <!--[cite: 2] --></p>
                <ul class="browser-default">
                    <li>Presencial <!--[cite: 2] --></li>
                    <li>Virtual <!--[cite: 2] --></li>
                    <li>Mixta (teoría virtual y práctica presencial) <!--[cite: 2] --></li>
                </ul>
            </div>

            <!-- XI -->
            <div class="col-md-12">
                <h3 class="poppins_bold m-t-4">XI. Oferta Educativa <!--[cite: 2] --></h3>

                <h4><strong>1. Cursos</strong> <!--[cite: 2] --></h4>
                <ul class="browser-default">
                    <li>Formación de emprendedores <!--[cite: 2] --></li>
                    <li>Tostado básico <!--[cite: 2] --></li>
                </ul>

                <h4><strong>2. Talleres de especialización:</strong> <!--[cite: 2] --></h4>
                <ul class="browser-default">
                    <li>Formación para un barista <!--[cite: 2] --></li>
                    <li>Formación para un barista especializado <!--[cite: 2] --></li>
                    <li>Arte latte básico <!--[cite: 2] --></li>
                    <li>Arte latte especializado <!--[cite: 2] --></li>
                    <li>Métodos de Extracción: Brew & cold brew <!--[cite: 2] --></li>
                    <li>Mixología <!--[cite: 2] --></li>
                    <li>Bubble tea básico <!--[cite: 2] --></li>
                    <li>Bubble tea Especializado <!--[cite: 2] --></li>
                    <li>Básico de bebidas frías <!--[cite: 2] --></li>
                </ul>

                <h4><strong>3. Sesiones Sabatinas o sesiones de actualización gratuitas:</strong> <!--[cite: 2] --></h4>
                <p>Abiertas al público en general, previa reservación en sucursal; con la intención de que puedan probar distintos productos, sabores, líneas de productos y se lleven ideas de recetas en tendencia para actualizar su menú o ampliarlo con bebidas de temporada. <!--[cite: 2] --></p>
                <p>Se imparten en TODAS nuestras sucursales en día sábado en un horario de 10 am a 12 pm. <!--[cite: 2] --></p>
                <p>*Excepto Querétaro (imparte sesiones los martes en el mismo horario). <!--[cite: 2] --></p>

                <h4><strong>4. Experiencias</strong> <!--[cite: 2] --></h4>
                <p>Tiene como principal objetivo el de crear momentos divertidos, de aprendizaje e intercambio correspondiendo a la fidelización de nuestros clientes pero también integrando a TODA persona que solo por el gusto de aprender, de probar o experimentar quiera formar parte de estas dinámicas. <!--[cite: 2] --></p>
                <p>Se planean actividades vivenciales para los participantes en donde el enfoque principal será mostrar nuestra más reciente innovación. <!--[cite: 2] --></p>

                <p><strong>¿Qué incluye la "Experiencia"?</strong> <!--[cite: 2] --></p>
                <ul class="browser-default">
                    <li>5% de descuento en accesorios e insumos, sin compra mínima. <!--[cite: 2] --></li>
                    <li>Promoción válida únicamente donde se registre la asistencia a la Experiencia. <!--[cite: 2] --></li>
                    <li>El descuento sólo podrá utilizarse el mismo día de la inscripción a la Experiencia. <!--[cite: 2] --></li>
                    <li>No aplica en productos que ya cuenten con descuentos o promociones vigentes. <!--[cite: 2] --></li>
                </ul>

                <p><strong>Programación Experiencias:</strong> <!--[cite: 2] --></p>
                <ul class="browser-default">
                    <li>Se calendariza 1 Experiencia al mes para todas las sucursales. <!--[cite: 2] --></li>
                    <li>Duración 3 horas (10 am a 1 pm). <!--[cite: 2] --></li>
                </ul>
                <p class="p-2">
                    *Nota: Los temas y dinámicas de las experiencias cambian de acuerdo al calendario trimestral. <!--[cite: 2] -->
                </p>

                <h4><strong>5. Cursos Personalizados:</strong> <!--[cite: 2] --></h4>
                <p>El objetivo de los cursos personalizados es ofrecer a los clientes un traje a su medida. <!--[cite: 2] --></p>
                <ul class="browser-default">
                    <li>Si el cliente no encuentra en nuestra actual oferta educativa lo que necesita, le podemos diseñar un taller de acuerdo a sus necesidades (se requiere de un mínimo de 4 participantes). <!--[cite: 2] --></li>
                    <li>Se comparte con el cliente la propuesta de temario y costo del taller. <!--[cite: 2] --></li>
                    <li>Una vez autorizado por el cliente, se establece la fecha, horario y sede para tomar el taller. <!--[cite: 2] --></li>
                    <li>En caso de no contar con el pago al menos una semana antes de la programación del curso, no podremos asegurar la disponibilidad de las áreas o de instructores. <!--[cite: 2] --></li>
                </ul>
            </div>

            <!-- TABLAS -->
            <div class="col-md-12">
                <h3 class="poppins_bold m-t-4">Tabla 1. Oferta educativa: cursos / talleres / experiencias / (costos, claves y horarios) <!--[cite: 2] --></h3>
                <p class="p-2 text-start"><strong>Sucursales (excepto Tijuana) <!--[cite: 2] --></strong></p>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Cursos y Talleres</th>
                            <th scope="col">Clave</th>
                            <th scope="col">Costo</th>
                            <th scope="col">Horario</th>
                            <th scope="col">Horas Efectivas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Formación de emprendedores</th>
                            <td>TYC-001</td>
                            <td>$ 4,000.00</td>
                            <td>Día 1: 9 a 17:30 hrs.<br>Día 2: 9 a 15:30 hrs.</td>
                            <td>14 hrs.</td>
                        </tr>
                        <tr>
                            <th scope="row">Tostado básico</th>
                            <td>TYC-003</td>
                            <td>$ 4,000.00</td>
                            <td>Día 1: 9 a 17:30 hrs.<br>Día 2: 9 a 17:30 hrs.</td>
                            <td>14 hrs.</td>
                        </tr>
                        <tr>
                            <th scope="row">Formación para un barista básico</th>
                            <td>TYC-005</td>
                            <td>$ 2,500.00</td>
                            <td>10 a 17 hrs.</td>
                            <td>6 hrs.</td>
                        </tr>
                        <tr>
                            <th scope="row">Formación para un barista especializado</th>
                            <td>TYC-006</td>
                            <td>$ 2,500.00</td>
                            <td>10 a 17 hrs.</td>
                            <td>6 hrs.</td>
                        </tr>
                        <tr>
                            <th scope="row">Arte latte básico</th>
                            <td>TYC-007</td>
                            <td>$ 2,500.00</td>
                            <td>10 a 17 hrs.</td>
                            <td>6 hrs.</td>
                        </tr>
                        <tr>
                            <th scope="row">Arte latte especializado</th>
                            <td>TYC-008</td>
                            <td>$ 3,000.00</td>
                            <td>10 a 17 hrs.</td>
                            <td>6 hrs.</td>
                        </tr>
                        <tr>
                            <th scope="row">Brew & Cold Brew</th>
                            <td>TYC-009</td>
                            <td>$ 2,000.00</td>
                            <td>10 a 17 hrs.</td>
                            <td>6 hrs.</td>
                        </tr>
                        <tr>
                            <th scope="row">Mixología</th>
                            <td>TYC-014</td>
                            <td>$ 1,500.00</td>
                            <td>10 a 14 hrs.</td>
                            <td>4 hrs.</td>
                        </tr>
                        <tr>
                            <th scope="row">Bubble Tea básico</th>
                            <td>TYC-021</td>
                            <td>$ 2,000.00</td>
                            <td>10 a 15 hrs.</td>
                            <td>5 hrs.</td>
                        </tr>
                        <tr>
                            <th scope="row">Bubble Tea Especializado</th>
                            <td>TYC-031</td>
                            <td>$ 2,000.00</td>
                            <td>10 a 15 hrs.</td>
                            <td>5 hrs.</td>
                        </tr>
                        <tr>
                            <th scope="row">Básico de bebidas frías</th>
                            <td>TYC-037</td>
                            <td>$ 2,000.00</td>
                            <td>10 a 15 hrs.</td>
                            <td>5 hrs.</td>
                        </tr>
                        <tr>
                            <th scope="row">Experiencias</th>
                            <td>TYC-015</td>
                            <td>$ 800.00</td>
                            <td>10 a 13 hrs.</td>
                            <td>3 hrs.</td>
                        </tr>
                    </tbody>
                </table>
                <!--[cite: 2] -->

                <p class="p-2 text-start"><strong>Combos Sucursales (excepto Tijuana) <!--[cite: 2] --></strong></p>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Cursos y Talleres</th>
                            <th>Clave</th>
                            <th>Costo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bubble tea (básico + especializado)</td>
                            <td>C01</td>
                            <td>$ 3,000.00</td>
                        </tr>
                        <tr>
                            <td>Formación para un barista (básico + especializado)</td>
                            <td>C07</td>
                            <td>$ 4,500.00</td>
                        </tr>
                        <tr>
                            <td>Arte latte (básico + especializado)</td>
                            <td>C23</td>
                            <td>$ 5,000.00</td>
                        </tr>
                    </tbody>
                </table>
                <!--[cite: 2] -->

                <hr>

                <p class="p-2 text-start"><strong>Sucursal Tijuana <!--[cite: 2] --></strong></p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Cursos y Talleres</th>
                            <th scope="col">Clave</th>
                            <th scope="col">Costo</th>
                            <th scope="col">Horario</th>
                            <th scope="col">Horas Efectivas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Formación de emprendedores</th>
                            <td>TYC-002</td>
                            <td>$ 4,000.00</td>
                            <td>Día 1: 9 a 17:30 hrs.<br>Día 2: 9 a 15:30 hrs.</td>
                            <td>14 hrs.</td>
                        </tr>
                        <tr>
                            <th scope="row">Formación para un barista básico</th>
                            <td>TYC-017</td>
                            <td>$ 2,500.00</td>
                            <td>10 a 17 hrs.</td>
                            <td>6 hrs.</td>
                        </tr>
                        <tr>
                            <th scope="row">Arte latte básico</th>
                            <td>TYC-018</td>
                            <td>$ 2,500.00</td>
                            <td>10 a 17 hrs.</td>
                            <td>6 hrs.</td>
                        </tr>
                        <tr>
                            <th scope="row">Arte latte especializado</th>
                            <td>TYC-035</td>
                            <td>$ 3,000.00</td>
                            <td>10 a 17 hrs.</td>
                            <td>6 hrs.</td>
                        </tr>
                        <tr>
                            <th scope="row">Brew & Cold Brew</th>
                            <td>TYC-019</td>
                            <td>$ 2,000.00</td>
                            <td>10 a 17 hrs.</td>
                            <td>6 hrs.</td>
                        </tr>
                        <tr>
                            <th scope="row">Bubble Tea básico</th>
                            <td>TYC-032</td>
                            <td>$ 2,000.00</td>
                            <td>10 a 15 hrs.</td>
                            <td>5 hrs.</td>
                        </tr>
                        <tr>
                            <th scope="row">Bubble Tea Especializado</th>
                            <td>TYC-033</td>
                            <td>$ 2,000.00</td>
                            <td>10 a 15 hrs.</td>
                            <td>5 hrs.</td>
                        </tr>
                        <tr>
                            <th scope="row">Básico de bebidas frías</th>
                            <td>TYC-038</td>
                            <td>$ 2,000.00</td>
                            <td>10 a 15 hrs.</td>
                            <td>5 hrs.</td>
                        </tr>
                        <tr>
                            <th scope="row">Experiencias</th>
                            <td>TYC-034</td>
                            <td>$ 800.00</td>
                            <td>10 a 13 hrs.</td>
                            <td>3 hrs.</td>
                        </tr>
                    </tbody>
                </table>
                <!--[cite: 2] -->

                <p class="p-2 text-start"><strong>Combos Sucursal Tijuana: <!--[cite: 2] --></strong></p>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Cursos y Talleres</th>
                            <th>Clave</th>
                            <th>Costo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bubble tea (básico + especializado)</td>
                            <td>C06</td>
                            <td>$ 3,000.00</td>
                        </tr>
                        <tr>
                            <td>Formación para un barista (básico + especializado)</td>
                            <td>C17</td>
                            <td>$ 4,500.00</td>
                        </tr>
                        <tr>
                            <td>Arte latte (básico + especializado)</td>
                            <td>C24</td>
                            <td>$ 5,000.00</td>
                        </tr>
                    </tbody>
                </table>
                <!--[cite: 2] -->
            </div>

            <!-- XII -->
            <div class="col-md-12">
                <h3 class="poppins_bold m-t-4">XII. Pago de cursos y talleres: <!--[cite: 2] --></h3>

                <h4><strong>1. Opciones de pago:</strong> <!--[cite: 2] --></h4>
                <ul class="browser-default">
                    <li>El cliente puede apartar su lugar para un curso/ taller depositando al menos el 50% de anticipo. <!--[cite: 2] --></li>
                    <li>El curso / taller deberá quedar liquidado antes de que inicie. <!--[cite: 2] --></li>
                </ul>

                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th scope="row">Pago en efectivo</th>
                            <td>En sucursal <!--[cite: 2] --></td>
                        </tr>
                        <tr>
                            <th scope="row">Tarjeta de crédito o débito</th>
                            <td>En sucursal <!--[cite: 2] --></td>
                        </tr>
                        <tr>
                            <th scope="row">Transferencia bancaria</th>
                            <td>Cuenta a nombre de Café Etrusca <!--[cite: 2] --></td>
                        </tr>
                        <tr>
                            <th scope="row">Depósito en sucursal bancaria</th>
                            <td>Cuenta a nombre de Café Etrusca <!--[cite: 2] --></td>
                        </tr>
                    </tbody>
                </table>
                <br /> <br />
                <h4 class="mt-3"><strong>2. Descuentos:</strong> <!--[cite: 2] --></h4>

                <p class="p-2"><strong>3-9 participantes inscritos al mismo curso/taller:</strong> <!--[cite: 2] --></p>
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th scope="row">10% de descuento</th>
                            <td>Formación de Emprendedores y Tostado <!--[cite: 2] --></td>
                        </tr>
                        <tr>
                            <th scope="row">5% de descuento</th>
                            <td>Barista básico, Barista especializado, Arte latte básico, Arte latte especializado, Brew & Cold Brew, Mixología, Bubble Tea básico, Bubble Tea especializado, Básico de bebidas frías. <!--[cite: 2] --></td>
                        </tr>
                    </tbody>
                </table>

                <p class="p-2"><strong>10 ó más participantes inscritos al mismo curso/taller:</strong> <!--[cite: 2] --></p>
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th scope="row">15% de descuento</th>
                            <td>Formación de Emprendedores y Tostado <!--[cite: 2] --></td>
                        </tr>
                        <tr>
                            <th scope="row">10% de descuento</th>
                            <td>Barista básico, Barista especializado, Arte latte básico, Arte latte especializado, Brew & Cold Brew, Mixología, Bubble Tea básico, Bubble Tea especializado, Básico de bebidas frías. <!--[cite: 2] --></td>
                        </tr>
                    </tbody>
                </table>

                <p class="p-2"><strong>Inscripción del mismo participante a 3 ó más cursos y talleres:</strong> <!--[cite: 2] --></p>
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th scope="row">5% de descuento</th>
                            <td>Formación de Emprendedores, Tostado, Barista básico, Barista especializado, Arte Latte básico, Arte latte especializado, Brew & Cold Brew, Bubble Tea básico, Bubble Tea especializado, Mixología, Catando de la Semilla a lo Sensorial, Básico de bebidas frías. <!--[cite: 2] --></td>
                        </tr>
                    </tbody>
                </table>

                <p class="p-2"><strong>Para participantes de Formación de emprendedores:</strong> <!--[cite: 2] --></p>
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th scope="row">10% de descuento</th>
                            <td>Primera compra de insumos durante los primeros 30 días naturales después de haber tomado el curso.<br>Solo para montos a partir de $12,000.00 MXN en adelante. <!--[cite: 2] --></td>
                        </tr>
                    </tbody>
                </table>

                <p class="p-2"><strong>Ex alumnos</strong> <!--[cite: 2] --></p>
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th scope="row">10% de descuento</th>
                            <td>A los clientes que hayan tomado Barista, Arte latte o Bubble en su nivel básico, se les aplicará un 10% de descuento al pagar el respectivo taller en su nivel intermedio. <!--[cite: 2] --></td>
                        </tr>
                    </tbody>
                </table>

                <p class="p-2">
                    <strong>*Nota: Los descuentos no aplican con otras promociones, precios especiales o combos.</strong> <!--[cite: 2] -->
                </p>

                <h4 class="mt-3"><strong>3. Número de cuentas Etrusca Comercial:</strong> <!--[cite: 2] --></h4>

                <h6 class="poppins_light justify-align"><b>Sucursal Guadalajara</b> <!--[cite: 2] --></h6>
                <table border="1" cellpadding="5" cellspacing="0" width="50%">
                    <tr><td>BANCO:</td><td>BBVA BANCOMER <!--[cite: 2] --></td></tr>
                    <tr><td>CUENTA:</td><td>0196471781 <!--[cite: 2] --></td></tr>
                    <tr><td>CLABE INTERBANCARIA:</td><td>012180001964717812 <!--[cite: 2] --></td></tr>
                </table><br />

                <h6 class="poppins_light justify-align"><b>Sucursal León</b> <!--[cite: 2] --></h6>
                <table border="1" cellpadding="5" cellspacing="0" width="50%">
                    <tr><td>BANCO:</td><td>BBVA BANCOMER <!--[cite: 2] --></td></tr>
                    <tr><td>CUENTA:</td><td>0108579040 <!--[cite: 2] --></td></tr>
                    <tr><td>CLABE INTERBANCARIA:</td><td>012180001085790404 <!--[cite: 2] --></td></tr>
                </table><br />

                <h6 class="poppins_light justify-align"><b>Sucursal Monterrey</b> <!--[cite: 2] --></h6>
                <table border="1" cellpadding="5" cellspacing="0" width="50%">
                    <tr><td>BANCO:</td><td>BBVA BANCOMER <!--[cite: 2] --></td></tr>
                    <tr><td>CUENTA:</td><td>0155193214 <!--[cite: 2] --></td></tr>
                    <tr><td>CLABE INTERBANCARIA:</td><td>012180001551932149 <!--[cite: 2] --></td></tr>
                </table><br />

                <h6 class="poppins_light justify-align"><b>Sucursal Toluca</b> <!--[cite: 2] --></h6>
                <table border="1" cellpadding="5" cellspacing="0" width="50%">
                    <tr><td>BANCO:</td><td>BBVA BANCOMER <!--[cite: 2] --></td></tr>
                    <tr><td>CUENTA:</td><td>110671878 <!--[cite: 2] --></td></tr>
                    <tr><td>CLABE INTERBANCARIA:</td><td>012180001106718789 <!--[cite: 2] --></td></tr>
                </table><br />

                <h6 class="poppins_light justify-align"><b>Matriz Vallejo</b> <!--[cite: 2] --></h6>
                <table border="1" cellpadding="5" cellspacing="0" width="50%">
                    <tr><td>BANCO:</td><td>BBVA BANCOMER <!--[cite: 2] --></td></tr>
                    <tr><td>CUENTA:</td><td>0449402136 <!--[cite: 2] --></td></tr>
                    <tr><td>CLABE INTERBANCARIA:</td><td>012180004494021363 <!--[cite: 2] --></td></tr>
                </table><br />

                <h6 class="poppins_light justify-align"><b>Sucursal Querétaro</b> <!--[cite: 2] --></h6>
                <table border="1" cellpadding="5" cellspacing="0" width="50%">
                    <tr><td>BANCO:</td><td>BBVA BANCOMER <!--[cite: 2] --></td></tr>
                    <tr><td>CUENTA:</td><td>0160657689 <!--[cite: 2] --></td></tr>
                    <tr><td>CLABE INTERBANCARIA:</td><td>012180001606576890 <!--[cite: 2] --></td></tr>
                </table><br />

                <h6 class="poppins_light justify-align"><b>Sucursal Tijuana</b> <!--[cite: 2] --></h6>
                <table border="1" cellpadding="5" cellspacing="0" width="50%">
                    <tr><td>BANCO:</td><td>BBVA BANCOMER <!--[cite: 2] --></td></tr>
                    <tr><td>CUENTA:</td><td>0167156715 <!--[cite: 2] --></td></tr>
                    <tr><td>CLABE INTERBANCARIA:</td><td>012180001671567151 <!--[cite: 2] --></td></tr>
                </table><br />

                <h6 class="poppins_light justify-align"><b>Sucursal Puebla</b> <!--[cite: 2] --></h6>
                <table border="1" cellpadding="5" cellspacing="0" width="50%">
                    <tr><td>BANCO:</td><td>BBVA BANCOMER <!--[cite: 2] --></td></tr>
                    <tr><td>CUENTA:</td><td>0147554427 <!--[cite: 2] --></td></tr>
                    <tr><td>CLABE INTERBANCARIA:</td><td>012180001475544273 <!--[cite: 2] --></td></tr>
                </table><br />

                <h6 class="poppins_light justify-align"><b>Sucursal Xalapa</b> <!--[cite: 2] --></h6>
                <table border="1" cellpadding="5" cellspacing="0" width="50%">
                    <tr><td>BANCO:</td><td>BBVA BANCOMER <!--[cite: 2] --></td></tr>
                    <tr><td>CUENTA:</td><td>0187337647 <!--[cite: 2] --></td></tr>
                    <tr><td>CLABE INTERBANCARIA:</td><td>012180001873376470 <!--[cite: 2] --></td></tr>
                </table><br />

                <h6 class="poppins_light justify-align"><b>CEDIS Zapopan</b> <!--[cite: 2] --></h6>
                <table border="1" cellpadding="5" cellspacing="0" width="50%">
                    <tr><td>BANCO:</td><td>BBVA BANCOMER <!--[cite: 2] --></td></tr>
                    <tr><td>CUENTA:</td><td>0101440322 <!--[cite: 2] --></td></tr>
                    <tr><td>CLABE INTERBANCARIA:</td><td>012180001014403225 <!--[cite: 2] --></td></tr>
                </table><br />

                <h6 class="poppins_light justify-align"><b>Sucursal Viaducto</b> <!--[cite: 2] --></h6>
                <table border="1" cellpadding="5" cellspacing="0" width="50%">
                    <tr><td>BANCO:</td><td>BBVA BANCOMER <!--[cite: 2] --></td></tr>
                    <tr><td>CUENTA:</td><td>0192330032 <!--[cite: 2] --></td></tr>
                    <tr><td>CLABE INTERBANCARIA:</td><td>012180001923300325 <!--[cite: 2] --></td></tr>
                </table><br />

                <h6 class="poppins_light justify-align"><b>Sucursal Liverpool</b> <!--[cite: 2] --></h6>
                <table border="1" cellpadding="5" cellspacing="0" width="50%">
                    <tr><td>BANCO:</td><td>BBVA BANCOMER <!--[cite: 2] --></td></tr>
                    <tr><td>CUENTA:</td><td>0176112862 <!--[cite: 2] --></td></tr>
                    <tr><td>CLABE INTERBANCARIA:</td><td>012180001761128620 <!--[cite: 2] --></td></tr>
                </table><br />

                <h6 class="poppins_light justify-align"><b>Sucursal Iztapalapa</b> <!--[cite: 2] --></h6>
                <table border="1" cellpadding="5" cellspacing="0" width="50%">
                    <tr><td>BANCO:</td><td>BBVA BANCOMER <!--[cite: 2] --></td></tr>
                    <tr><td>CUENTA:</td><td>0157519370 <!--[cite: 2] --></td></tr>
                    <tr><td>CLABE INTERBANCARIA:</td><td>012180001575193702 <!--[cite: 2] --></td></tr>
                </table><br />

                <h6 class="poppins_light justify-align"><b>Sucursal Mérida</b> <!--[cite: 2] --></h6>
                <table border="1" cellpadding="5" cellspacing="0" width="50%">
                    <tr><td>BANCO:</td><td>BBVA BANCOMER <!--[cite: 2] --></td></tr>
                    <tr><td>CUENTA:</td><td>0122473135 <!--[cite: 2] --></td></tr>
                    <tr><td>CLABE INTERBANCARIA:</td><td>012180001224731350 <!--[cite: 2] --></td></tr>
                </table><br />

                <p class="p-2">
                    *Nota: Una vez que realizado el pago, el cliente deberá compartir su comprobante de pago con su agente de ventas y si requiere factura, solicitarla al momento. <!--[cite: 2] -->
                </p>
            </div>

            <!-- XIII -->
            <div class="col-md-12">
                <h3 class="poppins_bold m-t-4">XIII. Políticas de Facturación: <!--[cite: 2] --></h3>

                <h4><strong>1. Datos de facturación.</strong> <!--[cite: 2] --></h4>
                <ul class="browser-default">
                    <li>
                        El cliente deberá solicitar su factura al momento del pago, proporcionando los siguientes datos fiscales como requisitos mínimos: <!--[cite: 2] -->
                        <ul class="browser-default">
                            <li>Constancia de Situación Fiscal actualizada (no mayor a 3 meses). <!--[cite: 2] --></li>
                            <li>RFC del receptor (de preferencia solicitar la cédula impresa). <!--[cite: 2] --></li>
                            <li>Uso del CFDI <!--[cite: 2] --></li>
                            <li>Método y forma de pago del CFDI <!--[cite: 2] --></li>
                        </ul>
                    </li>
                    <li>
                        Todos los cursos se facturan: <!--[cite: 2] -->
                        <ul class="browser-default">
                            <li>
                                En el caso de que el cliente no requiera de un CFDI, el curso/taller se factura al RFC GENÉRICO pero importante para el seguimiento de venta, que se genere a nombre del cliente. <!--[cite: 2] -->
                            </li>
                        </ul>
                    </li>
                    <li>Cuando el cliente paga un anticipo, se genera un CFDI de anticipo. <!--[cite: 2] --></li>
                    <li>
                        Cuando el cliente liquide en su totalidad el curso, se genera:<br>
                        a) CFDI por el total de la operación (total del curso).<br>
                        b) Aplicar el anticipo realizado con anterioridad. <!--[cite: 2] -->
                    </li>
                    <li>Los precios de los cursos ya incluyen el I.V.A. <!--[cite: 2] --></li>
                </ul>

                <h4><strong>2. Cancelación de factura:</strong> <!--[cite: 2] --></h4>
                <ul class="browser-default">
                    <li>
                        Para solicitar la cancelación de una factura, el cliente deberá enviar un correo electrónico a su agente de ventas incluyendo: <!--[cite: 2] -->
                        <ul class="browser-default">
                            <li>Motivo por el cual solicita la cancelación de factura. <!--[cite: 2] --></li>
                            <li>Adjunto de comprobante de pago. <!--[cite: 2] --></li>
                            <li>Adjunto del CFDI previamente realizado. <!--[cite: 2] --></li>
                        </ul>
                    </li>
                </ul>
                <p class="p-2">
                    <strong>*Nota: Cuentan con 10 días hábiles posteriores a la fecha de facturación para solicitar la cancelación.</strong> <!--[cite: 2] -->
                </p>

                <h4><strong>3. Solicitud de reembolso:</strong> <!--[cite: 2] --></h4>
                <ul class="browser-default">
                    <li>
                        Para solicitar un reembolso, el cliente deberá enviar un correo electrónico a su agente de ventas con la siguiente información: <!--[cite: 2] -->
                        <ul class="browser-default">
                            <li>Escrito detallando el motivo de la solicitud de su reembolso. <!--[cite: 2] --></li>
                            <li>Comprobante de depósito bancario con datos de fecha e importe visibles. <!--[cite: 2] --></li>
                            <li>Copia de Identificación Oficial. <!--[cite: 2] --></li>
                            <li>
                                Carátula del estado de cuenta bancario de la cuenta a donde se realizará el reembolso o datos bancarios (cuenta bancaria y clabe interbancaria) en hoja membretada y firmada por el titular de la cuenta. <!--[cite: 2] -->
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>*Nota: Estos datos deben coincidir con los datos del comprobante bancario del depósito realizado.</strong> <!--[cite: 2] -->
                    </li>
                    <li>El tiempo aproximado para el trámite de reembolso es de 15 días hábiles. <!--[cite: 2] --></li>
                    <li>Los reembolsos se harán sobre el ejercicio fiscal en curso, teniendo como fecha límite de solicitud para reembolso el día 15 de diciembre del mismo ejercicio fiscal. <!--[cite: 2] --></li>
                    <li>Si el participante no asiste al curso y no notifica a la sucursal o a su agente de ventas que no podrá asistir, no se le reembolsará el importe que haya pagado. <!--[cite: 2] --></li>
                    <li>Sólo procederán los reembolsos por cancelación a aquellos depósitos que no tengan más de 10 días naturales previos a la fecha del curso. <!--[cite: 2] --></li>
                </ul>
            </div>

            <!-- Protección de datos -->
            <div class="col-md-12">
                <h3 class="poppins_bold m-t-4">Protección de datos personales y de términos y condiciones: <!--[cite: 2] --></h3>
                <ul class="browser-default">
                    <li>
                        Aviso de privacidad integral Etrusca Comercial:
                        <a routerLink="/aviso-de-privacidad">https://cafeetrusca.com/aviso-de-privacidad</a> <!--[cite: 2] -->
                    </li>
                    <li>
                        Términos y condiciones de servicios:
                        <a routerLink="/terminos-y-condiciones">https://cafeetrusca.com/terminos-y-condiciones</a> <!--[cite: 2] -->
                    </li>
                    <li>
                        <strong>Uso de imagen:</strong><br>
                        El personal de Café Etrusca podrá tomar fotografías y/o videos con fines publicitarios del curso y/o de los participantes. En el caso de que el participante no quiera se use su imagen con fines publicitarios, deberá de comunicarlo al barista instructor antes de que el curso inicie; si no fuera el caso, se dará por entendido que autoriza de manera voluntaria y gratuita que se haga uso de imagen y ésta pueda ser usada para campañas, promocionales y demás material de apoyo ya sea impreso, electrónico o de otro tipo. <!--[cite: 2] -->
                    </li>
                </ul>

                <p class="p-2">
                    <strong>
                        Cualquier duda o comentario favor de enviar correo electrónico a la atención de Araceli García: <a href="mailto:ara.garcia&#64;cafeetrusca.com">ara.garcia&#64;cafeetrusca.com</a> (Gerente área educativa). <!--[cite: 2] -->
                    </strong>
                </p>
                <p class="p-2">Sin más por el momento, reciban un cordial saludo. <!--[cite: 2] --></p>
                <p class="p-2">ÁREA EDUCATIVA <!--[cite: 2] --></p>
            </div>

        </div>
    </div>
</article>
